
{% for section in include.menu_list %}
  <ul class="td-sidebar-nav__section pr-md-3">
    <li class="td-sidebar-nav__section-title">
      {% if section.new == true %}
        <div class="align-items-center justify">
          {% if section.url != null and section.url != "" %}
            <a class="d-inline align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{ section.title }}</a>
          {% else %}
            <div class="d-inline align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{ section.title }}</div>
          {% endif %}
          <div class="d-inline mb-2">
            <div class="bg-info badge text-wrap">new</div>
          </div>
        </div>
      {% else %}
        {% if section.url != null and section.url != "" %}
          <a  href="{% if section.url %}{{ site.baseurl }}/{{ section.url }}{% else %}{{ section.external_url }}{% endif %}" class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{ section.title }}</a>
        {% else %}
          <div  href="{% if section.url %}{{ site.baseurl }}/{{ section.url }}{% else %}{{ section.external_url }}{% endif %}" class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">{{ section.title }}</div>
        {% endif %}
      {% endif %}
    </li>
    {% if section.links %}
      <ul>
        <li class="collapse show" id="{{ section.title | slugify }}">
        <ul class="td-sidebar-nav__section pr-md-3">
          {% for entry in section.links %}
            <li class="td-sidebar-nav__section-title">
              {% if entry.new == true %}
                <div>
                  {% if entry.url != null and entry.url != ""%}
                    <a href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}" class="d-inline align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{ entry.title }}</a>
                  {% else %}
                    <div href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}" class="d-inline align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{ entry.title }}</div>
                  {% endif %}
                  <a class="bg-info badge text-wrap">new</a>
                </div>
              {% else %}
                {% if entry.url != null and entry.url != ""%}
                  <a href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{ entry.title }}</a>
                {% else %}
                  <div href="{% if entry.url %}{{ site.baseurl }}/{{ entry.url }}{% else %}{{ entry.external_url }}{% endif %}" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{ entry.title }}</div>
                {% endif %}
              {% endif %}
            </li>
            <ul>
              <li class="collapse show" id="{{ child.title | slugify }}">
                {% if entry.children %}
                  {% for child in entry.children %}
                    <a class="td-sidebar-link td-sidebar-link__page " id="m-{{ section.title | slugify }}-{{ entry.title | slugify }}-{{ child.title | slugify }}" href="{% if child.url %}{{ site.baseurl }}/{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">{{ child.title }}</a>
                  {% endfor %}
                {% endif %}
              </li>
            </ul>
          {% endfor %}
        </ul>
      </ul>
    {% endif %}
  </ul>
{% endfor %}