<h3><strong>Headers e Autorização</strong></h3>

<p>Para que os requests à API funcionem, é necessário que o emissor envie três itens no header dos requests:</p>
<ul>
    <li>
        <p><b>Content-Type:</b> Deve-se enviar o header Content-Type contendo o valor <b>application/json</b>, caso contrário a API retornará uma mensagem de erro.</p>
    </li>
    <li>
        <p><b>IdempotencyKey:</b> Este header representa um identificador único para o request. Serve para evitar que a mesma requisição seja
            processada múltiplas vezes em caso de erro no envio das chamadas. <b>Deve ser um Uuid4 de uso único.</b></p>
    </li>
    <li>
        <p><b>API-Key:</b> Chave criada pela paySmart e fornecida ao emissor. Utilizada para identificar o emissor e autorizar o acesso à API.</p>
    </li>
</ul>