<h3><b>Códigos de Erro</b></h3>
<p>Os códigos de erros retornados no campo <b>resultCode</b> podem ser encontrados em <a href="{{site.baseurl}}/pt-br/docs/disputes/codigos-erro">Códigos de Erro da API</a>.</p>