{% if site.google-analytics %}
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script type="application/javascript">
	var doNotTrack = false;
	if (!doNotTrack) {
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga('create', 'UA-00000000-0', 'auto');
		ga('send', 'pageview');
	}
</script>{% endif %}
