<header>
	<nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
		{% include header_base.html lang=include.lang %}
	</nav>
	<script>
		function redirectToSelected() {
			var languageSelector = document.getElementById("languageSelector");
			var selectedValue = languageSelector.options[languageSelector.selectedIndex].value;
			window.location.href = selectedValue;
		}
	</script>
</header>

