<a class="navbar-brand align-items-center justify" href="{{ site.baseurl }}/">
	<span class="navbar-logo"></span>
	<img src="{{ site.baseurl }}/assets/img/logo.png" width="183" height="32">
	{% if include.lang == 'es' %}
		<span class="font-weight-bold ml-3">
			Procesador - Documentación API
		</span>
	{% else %}
		<span class="font-weight-bold ml-3">
			Processadora - Documentação das APIs
		</span>
	{% endif %}
</a>
<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
	<ul class="navbar-nav mt-2 mt-lg-0">
		{% if include.lang == 'es' %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="https://paysmart.com.br/" ><span>Sobre</span></a>
			</li>
		{% else %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="https://paysmart.com.br/" ><span>Sobre</span></a>
			</li>
		{% endif %}

		{% if include.lang == 'es' %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="{{ site.url }}/{{ site.baseurl }}/es/docs" ><span>Documentación</span></a>
			</li>
		{% else %}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				<a class="nav-link" href="{{ site.url }}/{{ site.baseurl }}/docs" ><span>Documentação</span></a>
			</li>
		{% endif %}
		
		<!-- {% for link in site.data.navigation %}
		<li class="nav-item mr-4 mb-2 mb-lg-0">
			<a class="nav-link" href="{% if link.url %}{{ site.baseurl }}/{{ link.url }}{% else %}{{ link.external_url }}{% endif %}" ><span>{{ link.title }}</span></a>
		</li>
		{% endfor %} -->
		<div class="container align-items-center justify mt-1">
			<a href="{{ site.baseurl }}/es">
				<img src="{{ site.baseurl }}/assets/favicons/spain.png" width="28" height="28"></img>
			</a>
			<a href="{{ site.baseurl }}/">
				<img src="{{ site.baseurl }}/assets/favicons/brazil.png" width="28" height="28"></img>
			</a>
		</div>
	</ul>
</div>