<!-- <svg class="md-svg">
  <defs>
    <svg>
      <path d="M160 304q0 10-3.125 20.5t-10.75 19-18.125 8.5-18.125-8.5-10.75-19-3.125-20.5 3.125-20.5 10.75-19 18.125-8.5 18.125 8.5 10.75 19 3.125 20.5zM320 304q0 10-3.125 20.5t-10.75 19-18.125 8.5-18.125-8.5-10.75-19-3.125-20.5 3.125-20.5 10.75-19 18.125-8.5 18.125 8.5 10.75 19 3.125 20.5zM360 304q0-30-17.25-51t-46.75-21q-10.25 0-48.75 5.25-17.75 2.75-39.25 2.75t-39.25-2.75q-38-5.25-48.75-5.25-29.5 0-46.75 21t-17.25 51q0 22 8 38.375t20.25 25.75 30.5 15 35 7.375 37.25 1.75h42q20.5 0 37.25-1.75t35-7.375 30.5-15 20.25-25.75 8-38.375zM416 260q0 51.75-15.25 82.75-9.5 19.25-26.375 33.25t-35.25 21.5-42.5 11.875-42.875 5.5-41.75 1.125q-19.5 0-35.5-0.75t-36.875-3.125-38.125-7.5-34.25-12.875-30.25-20.25-21.5-28.75q-15.5-30.75-15.5-82.75 0-59.25 34-99-6.75-20.5-6.75-42.5 0-29 12.75-54.5 27 0 47.5 9.875t47.25 30.875q36.75-8.75 77.25-8.75 37 0 70 8 26.25-20.5 46.75-30.25t47.25-9.75q12.75 25.5 12.75 54.5 0 21.75-6.75 42 34 40 34 99.5z" fill="currentColor"></path>
    </svg>
  </defs>
</svg> -->

<input class=md-toggle data-md-toggle=drawer type=checkbox id=__drawer autocomplete=off>
<input class=md-toggle data-md-toggle=search type=checkbox id=__search autocomplete=off>
<label class=md-overlay data-md-component=overlay for=__drawer></label> 
<a href="#{{ page.title | slugify }}" tabindex=1 class=md-skip> Skip to content </a>
<header class=md-header data-md-component=header>
  <nav class="md-header-nav md-grid">
    <div class=md-flex>
      <div class="md-flex__cell md-flex__cell--shrink">
        <a class="md-header-nav__button md-logo" href="{{ site.url }}" title="{{ site.title }}">
          {% if site.logo %}
            <img height="{{ site.logo_pixels }}" src="{{ site.baseurl }}/{{ site.logo }}" width="{{ site.logo_pixels }}">
          {% else %}
            <i class="md-icon" style="margin-top:5px"></i>
          {% endif %}</a>
      </div>
      <div class="md-flex__cell md-flex__cell--shrink">
          <label class="md-icon md-icon--menu md-header-nav__button" for=__drawer></label>
      </div>
      <div class="md-flex__cell md-flex__cell--stretch">
          <div class="md-flex__ellipsis md-header-nav__title" data-md-component=title> 
              <span class=md-header-nav__topic>{{ site.title }}</span>
              <span class=md-header-nav__topic>{{ page.title }}</span>
          </div>
      </div>
      <div class="md-flex__cell md-flex__cell--shrink">
        <label class="md-icon md-icon--search md-header-nav__button" for=__search></label>
        <div class=md-search data-md-component=search role=dialog>
          <label class=md-search__overlay for=__search></label>
          <div class=md-search__inner role=search>
            <form class=md-search__form name=search>
                <input type=text class=md-search__input name=query placeholder=Search autocapitalize=off autocorrect=off autocomplete=off spellcheck=false data-md-component=query data-md-state=active>
                <label class="md-icon md-search__icon" for=__search></label>
                <button type=reset class="md-icon md-search__icon" data-md-component=reset tabindex=-1> &#xE5CD; </button>
            </form>
            <div class=md-search__output>
              <div class=md-search__scrollwrap data-md-scrollfix>
                <div class=md-search-result data-md-component=result>
                  <div class=md-search-result__meta> Type to start searching </div>
                  <ol class=md-search-result__list></ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
