<!DOCTYPE html>
<html lang="pt-BR" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Hugo 0.55.6" />
    
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    
    <link rel="alternate" type="application/rss&#43;xml" href="/docs/index.xml">
    
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicons/favicon.ico" >
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:site_name" content="{{ site.url }}" />
    
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/swagger-ui.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/palette.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
  </head>

  <body class="td-section">
    {% include header.html lang='pt-br' %}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
          {% include sidebar.html %}
          </div>
          
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">  
            <div class="td-content">
              {{ content }}	
            </div>
          </main>
        
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
